<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="charset" content="UTF-8">
    <title>Zapped</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <%- include ./partials/navbar -%>
        <section id="page">
            <%- body -%>
        </section>
        <%- include ./partials/footer -%>
            <script src="./js/jquery-2.2.0.min.js"></script>
            <script src="./js/bootstrap.min.js"></script>
            <script src="./js/jquery.easing.1.3.js"></script>
            <script src="./js/jquery.stellar.min.js"></script>
            <script src="./js/wow.min.js"></script>
            <script src="./js/custom.js"></script>
</body>

</html>